.chat .frame {
  margin-top: 10vw;
}

div.chat #messageContainer {
  position: absolute;
  top: 10vw;
  left: 3.1vw;
  width: 89.5%;
  display: grid;
  grid-template-rows: 1fr 1fr minmax(11.2vw, min-content);
  grid-template-columns: 1.3fr 3fr;
  margin: 1.7vw;
  height: 48.5vw;

  /* appearance */
  border: #65ace2 solid 2px;

  background-color: white;
  color: #231e38;
}
.chat #messages {
  grid-column: 2/3;
  grid-row: 2/3;
}

.chat #sendForm {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
}

.chat #table {
  grid-column: 1/2;
  grid-row: 1/4;
}

.chat #mapcontent {
  position: relative;
  height: 11vw;
  width: 35vw;
  background-color: white;
  color: #231e38;
  float: right;
}

.chat #routeInfo img {
  height: 15vw;
  width: auto;
}

.chat #routeInfo {
  border-bottom: 1px solid #d3dbf8;
  padding: 1vw;
}

.chat #messages {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
#messages .other {
  background-color: #d3dbf8;
}
#messages .me {
  align-self: end;
  background-color: rgb(190, 253, 253);
}
#messages .other,
#messages .me {
  width: 40%;
  padding: 1vw;
  border-radius: 1vw;
}

#sendForm textarea {
  width: 100%;
  height: 7vw;
  padding: 0.5vw;
}
#sendForm input {
  width: 14vw;
  padding: 0;
  align-self: end;
}

.chat #table .row {
  border-bottom: 1px solid #d3dbf8;
  padding: 0.5vw;
}

.chat #table .row,
.chat #routeInfo,
.chat #messages,
.chat #sendForm textarea {
  font-size: 0.9vw;
}

.chat .date {
  float: right;
}
.chat h2,
.chat h1 {
  display: inline;
}

.chat #table .row:nth-of-type(even) {
  background-color: #f9f5ff;
}
.chat #table .row.selected {
  background-color: #6fcfff;
}
.chat #table {
  width: 100%;
  border-right: 1px solid #d3dbf8;
  overflow: scroll;
}

.chat #scrollElement {
  position: relative;
  bottom: -3em;
  left: 0;
}

.chat #table .dot {
  height: 1vw;
  width: 1vw;
  background-color: #024ed0;
  border-radius: 50%;
  /* display: inline-block;
  text-align: right; */
  float: right;
  margin-right: 1vw;
}

.chat span.queryStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  /*   right: auto;
  bottom: auto; */
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #a8a8a8;
  display: block;
}

.chat span h1,
.chat span p {
  display: block;
  width: 100%;
  text-align: center;
}

.chat #table h1.nocontent,
.chat #table p.nocontent {
  margin: 1vw;
  display: block;
  color: #a8a8a8;
}

@media screen and (max-width: 700px) {
  .chat #mapcontent {
    display: none;
  }
}
