.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; /* putting everything into the center. */
}

.home img {
  margin-bottom: var(--gap);
}

.home a {
  width: 80%;
}
