.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center; /* putting everything into the center. */
}

.home img {
  margin-bottom: var(--gap);
  z-index: -1;
}

#beispielTrip {
  width: 80%;
  margin-top: calc(3 * var(--gap));
}

#newMessageCounter {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 1vw;
  position: absolute;
  top: -1vw;
  right: 0;
  background-color: #ff2929;
  color: white;
  text-align: center;
  font-size: 0.9vw;
}

.home a {
  width: 80%;
}
