.insertRoadtrip {
  display: grid;
  grid-template-rows: max-content;
  gap: 1%;
  grid-template-columns: 2.2fr minmax(342px, 1fr);
}

@media screen and (max-width: 700px) {
  .insertRoadtrip {
    grid-template-columns: 1fr;
  }
}

.insertRoadtrip header {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
}

.insertRoadtrip #insertRoadtripImage {
  grid-column: 1/2;
  grid-row: 2/3;
  height: initial;
}

.insertRoadtrip form {
  grid-column: 2/3;
  grid-row: 2/3;
}

.insertRoadtrip h1 {
  font-weight: 300;
  font-size: 3em;
}
