footer .social-icon {
  width: 3vw;
}

footer .social-icon.instagram {
  margin-left: 5vw;
}

footer {
  justify-content: start;
  gap: 1vw;
}

#imprint {
  justify-self: flex-end;
  margin-left: 3vw;
}

footer .langSwitcher {
  display: flex;
  margin-left: auto;
  margin-right: 5vw;
}

footer .langSwitcher .langButton {
  background-color: transparent;
  border: 0;
  width: 2em;
  color: black;
}

@media screen and (max-width: 500px) {
  footer #imprint {
    font-size: 2.5vw;
  }
}
