.newPassword .newPasswordInput {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.newPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  margin-bottom: 20vh;
}

.newPassword .newPasswordInput svg {
  width: 3vw;
}
